# This is Git's per-user configuration file.
[user]
	name = Philip Hartout
	email = philip.hartout@protonmail.com
# Please adapt and uncomment the following lines:
#	name = Philip Hartout
#	email = philip.hartout@protonmail.com
